.container {
  position: relative;
  width: 290px;
  height: 260px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03), 3px 4px 4px rgba(21, 57, 90, 0.03);
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .container {
    width: 205px;
    height: 199px;
  }
}

.iconEllipse {
  width: 10px;
  height: 10px;
  fill: var(--accent-color);
  margin-right: 7px;
}
@media screen and (min-width: 768px) {
  .iconEllipse {
    width: 8px;
    height: 8px;
  }
}

.iconPolygon {
  width: 12px;
  height: 8px;
  fill: var(--accent-color);
  margin-left: 7px;
}
@media screen and (min-width: 768px) {
  .iconPolygon {
    width: 8px;
    height: 4px;
  }
}

.head {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  padding-left: 21px;
  padding-right: 21px;
}

.iconTask {
  width: 19px;
  height: 19px;
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .iconTask {
    width: 15px;
    height: 15px;
  }
}

.iconTrophy {
  width: 19px;
  height: 19px;
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .iconTrophy {
    width: 15px;
    height: 15px;
  }
}

/* select {
  display: inline-block;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.select:after {
  content: ' url(../../icon/save.svg) ';
}

select:active {
  outline: none;
}
select:focus {
  outline: none;
} */

.difficulty {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: HelveticaNeueCyr;
  color: var(--secondary-color);
  margin-right: 7px;
}

@media screen and (min-width: 768px) {
  .difficulty {
    font-size: 14px;
  }
}

.title {
  margin-top: 71px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  font-family: HelveticaNeueCyr;
  border: none;
  outline: none;
  color: black;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title {
    margin-top: 42px;
    margin-bottom: 12px;
    font-size: 16px;
  }
}

.titleInput {
  margin-top: 71px;
  margin-bottom: 2px;
  padding: 0px;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  font-family: HelveticaNeueCyr;
  text-align: center;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

@media screen and (min-width: 768px) {
  .titleInput {
    margin-top: 41px;
    margin-bottom: 5px;
    font-size: 16px;
    width: 163px;
  }
}

.dateFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date {
  font-size: 18px;
  color: var(--secondary-color);
}
@media screen and (min-width: 768px) {
  .date {
    font-size: 14px;
  }
}

.inputDate {
  border: none;
  text-align: center;
  font-size: 18px;
  color: var(--secondary-color);
  width: 70px;
}
@media screen and (min-width: 768px) {
  .inputDate {
    font-size: 14px;
  }
}

.calendar {
  fill: var(--accent-color);
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 768px) {
  .calendar {
    width: 14px;
    height: 14px;
  }
}

.foot {
  position: relative;
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 21px;
}

@media screen and (min-width: 768px) {
  .foot {
    margin-top: 36px;
    padding-bottom: 21px;
  }
}

.category {
  display: flex;
  justify-content: left;
  align-items: center;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  padding-left: 21px;
  border-radius: 0px 25px 25px 0px;
  width: 120px;
  height: 35px;
}

@media screen and (min-width: 768px) {
  .category {
    font-size: 11px;
    width: 88px;
    height: 25px;
  }
}

.buttonCard {
  cursor: pointer;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.buttonSave {
  fill: var(--accent-color);
  height: 14px;
  width: 14px;
}
@media screen and (min-width: 768px) {
  .buttonSave {
    height: 10px;
    width: 10px;
  }
}
.buttonClose {
  border-right: 1px solid #b9c3c8;
  border-left: 1px solid #b9c3c8;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

.buttonClear {
  fill: var(--hard-color);
  height: 14px;
  width: 14px;
}

@media screen and (min-width: 768px) {
  .buttonClear {
    height: 10px;
    width: 10px;
  }
}
.buttonDone {
  fill: var(--normal-color);
  height: 14px;
  width: 14px;
}

.buttonClear {
  fill: var(--hard-color);
  height: 14px;
  width: 14px;
}
@media screen and (min-width: 768px) {
  .buttonClear {
    height: 10px;
    width: 10px;
  }
}

.buttonDone {
  fill: var(--normal-color);
  height: 14px;
  width: 14px;
}

@media screen and (min-width: 768px) {
  .buttonDone {
    height: 10px;
    width: 10px;
  }
}

@media screen and (min-width: 768px) {
  .buttonDone {
    height: 10px;
    width: 10px;
  }
}

.buttonFlex {
  margin-right: 12px;
}
