.landingInput {
    width: 290px;
    border: none;
    border-bottom: 1px solid var(--accent-color);
    box-sizing: border-box;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
}

.landingInput::placeholder {
    color: var(--accent-color);
}

.landingBox:first-child {
    margin-bottom: 20px;
}

.landingForm {
    display: block;
    text-align: center;
    padding-top: 336px;
}

@media screen and (min-width: 768px) {
    .landingForm {
        text-align: start;
        padding-top: 581px;
        padding-left: 50px;
    }
    .landingInput {
        width: 193px;
    }
}

@media screen and (min-width: 1200px) {
    .landingForm {
        text-align: start;
        padding-top: 525px;
        padding-left: 229px;
    }
    .landingInput {
        width: 196px;
    }
}
