.landingInput {
  width: 290px;
  border: none;

  border-bottom: 1px solid var(--accent-color);
  box-sizing: border-box;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
}

.landingInput::placeholder {
  color: var(--accent-color);
}

.landingBox:first-child {
  margin-bottom: 20px;
}

.landingForm {
  margin: 0px 15px;
}

.btnGo {
  display: flex;
  padding-top: 23px;
}

@media screen and (min-width: 768px) {
  .landingForm {
    text-align: start;
    margin: 0px 0px 0px 50px;
  }
  .landingInput {
    width: 193px;
  }
  .btnGo {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .landingForm {
    margin: 0px 0px 0px 229px;
  }
  .landingInput {
    width: 196px;
  }
}
.restorePassword {
  display: flex;
  align-items: center;
}

.restore {
  margin-left: 10px;
  color: var(--secondary-color);
  font-size: 11px;
}

.btnRestore {
  margin-left: 10px;
  font-size: 14px;
  color: var(--accent-color);
  text-decoration: underline;
}
