<<<<<<< Updated upstream
.modal {
  position: fixed;
  margin-top: 249px;
  margin-left: 50px;
  padding: 12px;
  width: 90px;
  height: 110px;
  background: var(--white-color);
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.05),
    3px 4px 4px rgba(21, 57, 90, 0.05);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.modal__content {
  width: auto;
  height: 11px;
  margin-top: 5px;
=======
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1200;
}

.Li {
  position: absolute;
  width: 35px;
  height: 11px;
  left: 62px;
  top: 258px;
>>>>>>> Stashed changes
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
<<<<<<< Updated upstream
  color: var(--primary-text-color);
}

.modal__content:hover {
  color: var(--bg-stuff);
}
=======
  color: #282828;
}

.Li:hover :focus {
  color: #B9C3C8;
}
>>>>>>> Stashed changes
