.section {
  margin-top: 25px;
}

.section:first-child {
  margin-top: 0;
}

.doneSection {
  margin-top: 50px;
  padding-bottom: 82px;
}

.head {
  display: flex;
}

.title {
  margin-bottom: 20px;

  color: var(--primary-text-color);
  font-family: 'HelveticaNeueCyr', -apple-system, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  size: 15px;
  text-transform: uppercase;
}

.button {
  margin: 0 4px auto 10px;

  transition: transform var(--animation) var(--cubic);
  transform: rotate(180deg);
}

.icon {
  max-width: 100%;
  width: 12px;
  height: 6px;

  fill: var(--accent-color);
}

.rotate {
  transform: rotate(0deg);
}

.line {
  width: 100%;
  margin-top: 0.25rem;
  border-top: 1px dashed var(--secondary-color);
}

.collection {
  display: grid;
  grid-row-gap: 20px;
}

@media screen and (max-width: 767px) {
  .collection > * {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
  }
  .section {
    margin-top: 30px;
  }
  .doneSection {
    margin-top: 60px;
    padding-bottom: 88px;
  }
}

@media screen and (min-width: 1280px) {
  .collection {
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 22px;
  }
  .doneSection {
    padding-bottom: 65px;
  }
}
