@media screen and (min-width: 320px) {
  .landing {
    color: var(--white-color);
    background: url('./Images/pic2mobile.png') bottom center no-repeat,
      url('./Images/pic1mobile.png') bottom center no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .landing {
    background: url('./Images/pic1tablet.png') right top no-repeat,
      url('./Images/pic2tablet.png') bottom right no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .landing {
    background: url('./Images/pic1.png') right top no-repeat,
      url('./Images/pic2desc.png') bottom right no-repeat;
  }
}

.landing {
  height: 100vh;
  background-color: #fff;
}
