/* COMPLETED */

.compledted{
  display: block;
  text-align: center;
  padding-bottom: 20px;
  
}

.completedHeader{
display: flex;
justify-content: center;
align-items: center;
margin: 20px auto 0 ;
}

.statusCompleted{
  text-transform: uppercase;
  color: #000;
}

.completedTitle{
  color: var(--accent-color);
  padding-bottom: 1px;
  border-bottom:1px solid var(--accent-color) ;
  max-width: 93px;
  margin-left: 7px;

}
.award{
  width: 144.04px;
  height: 123.68px;
  display: block;
  margin: 10px auto 0;
  text-align: center;
}

.completedFooter{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.arrow{
  width: 7px;
  height: 5px;
  fill: var(--accent-color);
  margin-left: 7px;

}
@media screen and (min-width:320px) {

}


@media screen  and(minwidth:768px){

}

