/* COMPLETED */

.compledted{
  display: block;
  text-align: center;
  margin: auto;
}

.completedHeader{
  margin-top: 20px;
display: flex;
justify-content: space-around;
align-items: center;
}

.statusCompleted{
  text-transform: uppercase;
  color: #000;
}

.award{
  width: 144.04px;
  height: 123.68px;
  display: inline-block;
  margin: 10px auto 0;
  text-align: center;
}

.completedFooter{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.arrow{
  width: 7px;
  height: 5px;
  fill: var(--accent-color);
  margin-left: 7px;

}