.logo {
  font-size: 18px;
  font-family: 'HelveticaNeueCyr-Bold';
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 21px;
  }
}
